<!-- Base Template for the home page -->

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FowlTrak</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <link rel="icon" href="{{ url_for('static', filename='images/logo.png') }}" type="image/png">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/logo.png') }}" type="image/png">

    <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}">
</head>

<body>


    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
        <div class="container-fluid">
                <a class="navbar-brand" href="{{ url_for('main.home_page') }}" style="color: #719E31;"><img
            src="{{ url_for('static', filename='images/logo.png') }}"
            alt="FowlTrak Logo"
            class="img-fluid"
            width="50"
            height="30"
          />FowlTrak</a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto ms-5">
                    {% if not current_user.is_authenticated %}
                    <li class="nav-item"><a class="nav-link nav-link-spacing" href="{{ url_for('main.home_page') }}">Home</a></li>
                    <li class="nav-item"><a class="nav-link nav-link-spacing" href="#about">About</a></li>
                    <li class="nav-item"><a class="nav-link nav-link-spacing" href="#features">Features</a></li>
                    <li class="nav-item"><a class="nav-link nav-link-spacing" href="#benefits">Benefits</a></li>
                    {% endif %}
                </ul>
                <ul class="navbar-nav">
                    {% if current_user.is_authenticated %}
                        <li class="nav-item"><a class="nav-link text-warning">Welcome, {{ current_user.username }}</a></li>
                    {% endif %}
                    {% if not current_user.is_authenticated %}
                        <li class="nav-item"><a class="nav-link" href="#contact">Contact</a></li>
                    {% endif %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="accountDropdown" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">Account</a>
                        <ul class="dropdown-menu" aria-labelledby="accountDropdown">
                            {% if current_user.is_authenticated %}
                                <li><a class="dropdown-item" href="{{ url_for('main.account_settings') }}">Settings</a></li>
                                <li><a class="dropdown-item" href="{{ url_for('main.logout_page') }}" id="logout-link">Logout</a></li>
                            {% else %}
                                <li><a class="dropdown-item" href="{{ url_for('main.register_page') }}">Register</a></li>
                                <li><a class="dropdown-item" href="{{ url_for('main.login_page') }}">Login</a></li>
                            {% endif %}
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Flash messages -->
    <div class="container flash-message">
        {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>

    <!-- Main Content -->
    <main class="flex-grow-1">
        {% block content %}{% endblock %}
    </main>

    <!-- Footer -->
    <footer class="bg-dark text-white text-center py-4 mt-auto">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h5>FowlTrak</h5>
                    <p>Efficient Poultry Management</p>
                </div>
                <div class="col-md-4">
                    <h5 class="text-success">Contact</h5>
                    <p>Email: support@fowltrak.com</p>
                    <ul class="list-unstyled mt-5">
                        <li><a href="#about">About Us</a></li>
                        <li><a href="#privacy">Privacy Policy</a></li>
                        <li><a href="#terms">Terms of Service</a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h5 class="text-success">Our Social Networks</h5>
                    <p>You can follow us on any of our social media platforms for updates and information.</p>
                    <div class="social-icons">
                      <a href="https://www.facebook.com/nnamani.odinaka" target="_blank"
                        ><i class="h4 fab fa-facebook-f text-success"></i
                      ></a>
                      <a href="https://x.com/QOdinaka" target="_blank"
                        ><i class="h4 fab fa-twitter text-success"></i
                      ></a>
                      <a
                        href="https://www.linkedin.com/in/queendarlin-nnamani"
                        target="_blank"
                        ><i class="h4 fab fa-linkedin-in text-success"></i
                      ></a>
                    </div>
                </div>
                <div class="mt-4 d-flex justify-content-between align-items-center">
                    <p>&copy; 2024 FowlTrak. All rights reserved.</p>
                    <a href="#" class="arrow-icon text-light">
                        <i class="h2 bi bi-arrow-up-circle"></i>
                    </a>
                </div>
            </div>
        </div>
    </footer>

    <!-- Bootstrap JS and dependencies -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{{ url_for('static', filename='scripts/home.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/admin.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/logout.js') }}"></script>
</body>
</html>
