<!--Template to manage workers -->

{% extends 'base_admin.html' %}

{% block title %}Manage Workers - FowlTrak{% endblock %}

{% block content %}
<div class="container">
    <h2 class="mb-4">Manage Workers</h2>

    <!-- Table To Manage Workers -->
    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th scope="col">Username</th>
                    <th scope="col">Email</th>
                    <th scope="col">Role</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for worker in workers %}
                <tr>
                    <td>{{ worker.username }}</td>
                    <td>{{ worker.email }}</td>
                    <td>{{ worker.role.value }}</td>
                    <td>
                        <div class="d-flex flex-column flex-md-row justify-content-center gap-2">
                            {% if worker.is_worker() %}
                            <a href="{{ url_for('main.promote_worker', user_id=worker.id) }}"
                               class="btn btn-success btn-sm promote-button"
                               data-promote-url="{{ url_for('main.promote_worker', user_id=worker.id) }}"
                               aria-label="Promote {{ worker.username }} to Admin">Promote to Admin</a>
                            {% elif worker.is_admin() %}
                            <a href="{{ url_for('main.demote_worker', user_id=worker.id) }}"
                               class="btn btn-warning btn-sm demote-button"
                               data-demote-url="{{ url_for('main.demote_worker', user_id=worker.id) }}"
                               aria-label="Demote {{ worker.username }} to Worker">Demote to Worker</a>
                            {% endif %}
                            <a href="{{ url_for('main.delete_worker', user_id=worker.id) }}"
                               class="btn btn-danger btn-sm delete-button"
                               data-delete-url="{{ url_for('main.delete_worker', user_id=worker.id) }}" data-method="POST"
                               aria-label="Delete {{ worker.username }}">
                                Delete
                            </a>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
