@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*,
::after,
::before {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: rgb(4, 4, 51);
}

.navbar-brand {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 22px;
}

.nav-link-spacing {
    margin-right: 30px;
    margin-left: 30px;
}

.shadow-effect {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
}

.card-img-top {
    border-radius: 0.25rem;
}


.card {
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

footer {
    background-color: #343a40;
    color: #ffffff;
}

footer a {
    color: #ffffff;
}

footer a:hover {
    text-decoration: none;
    color: #cccccc;
}

footer .arrow-icon {
    display: flex;
    align-items: center;
}

/* Smooth Scroll for Navigation Links */
html {
    scroll-behavior: smooth;
}

/* Animated Scroll Effects */
.fade-in {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.fade-in.visible {
    opacity: 1;
}

/* Slide-in Animation */
@keyframes slideIn {
  from {
    transform: translateY(-20%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.slide-in {
  animation: slideIn 2s ease-in-out;
}

/* Image Hover Effects */
.image-hover {
    transition: transform 0.3s ease-in-out;
}

.image-hover:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}

.slide-in.visible {
    opacity: 1.5;
    transform: translateY(0);
}

.flash-message {
            position: fixed;
            font-size: 1.3rem;
            top: 70px;
            left: 0;
            right: 0;
            z-index: 1;
            max-width: 60%;
}