body {
    font-family: 'Poppins', sans-serif;
    background-color: rgb(4, 4, 51);
}

.navbar-brand {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 22px;
}

.nav-link-spacing {
    margin-right: 30px;
    margin-left: 30px;
}

/*
.hero-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('/static/images/hero1.jpg') no-repeat center center;
    background-size: cover;
    z-index: 1;
}

.hero-content {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    background: rgba(0, 0, 0, 0.3);
    z-index: 4;
}
*/

.shadow-effect {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
}

.card-img-top {
    border-radius: 0.25rem;
}


.card {
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

footer {
    background-color: #343a40;
    color: #ffffff;
}

footer a {
    color: #ffffff;
}

footer a:hover {
    text-decoration: none;
    color: #cccccc;
}

footer .arrow-icon {
    display: flex;
    align-items: center;
}

/* Smooth Scroll for Navigation Links */
html {
    scroll-behavior: smooth;
}

/* Animated Scroll Effects */
.fade-in {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.fade-in.visible {
    opacity: 1;
}

/* Slide-in Animation */
@keyframes slideIn {
  from {
    transform: translateY(-20%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.slide-in {
  animation: slideIn 2s ease-in-out;
}


/* Image Hover Effects */
.image-hover {
    transition: transform 0.3s ease-in-out;
}

.image-hover:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}

.slide-in.visible {
    opacity: 1.5;
    transform: translateY(0);
}
